// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

@import '../node_modules/bootstrap/scss/bootstrap';


#paginaCadastra{
   body{
    background-color:bisque;

    

    .dropdown-menu{
        background-color: #007bff;
    }

    #tituloCadastro{
        -webkit-text-stroke-color: #dee2e6;
        
    }

    #inputNome{
        position: absolute;
        left: 48px;
    }

    #labelSobrenome{
        position: absolute; 
        left: 690px;

    }
    #inputSobrenome{
        position: absolute; 
        left: 234px;
    }

    #inputEmail{
        position: absolute; 
        left: -50px;
    }

    #inputPassword{
        position: absolute; 
        left: -50px; 
    }

    #inputTELEFONE{
        position: absolute; 
        left: -50px;

    }

    #inputDisciplina{
        position: absolute; 
        left: -50px;

    }

    #Textarea{
        position: absolute; 
        left: -50px;
    }

    #perfioImagem{
        #labelImagem{
            position: absolute; 
            top: 500px;
            left: 530px;
        }

        #imagem{
            position: absolute; 
            top: 120px;
            left: 400px;
        }
    }

    #butaosalvar{
        position: absolute; 
        
        top: 600px;
        left: 1000px;

        .btn-lg{
            width: 300px;
            

        }
    }
    
}   

    
}



#paginaIndex{
   body{ 
       background-color:bisque;
    }

    
    #tituloIndex{
        font-size: 20px;
    }

    .dropdown-menu{
        background-color: #007bff;
    }

   
}


#paginaLogin{
    body{
        background-color:bisque; 
    }

    #tituloLogin{
        font-size: 20px;
    }

    .dropdown-menu{
        background-color: #007bff;
    }

    #butaoPaginaLogin{
        position: absolute; 
	left: 1150px;
    }

    #linkCadastro{
        position: absolute;
        top: 290px;
        left: 550px;
        -webkit-text-stroke-color: #000;
    }
}